.rcw-launcher:hover,
.rcw-launcher:focus {
  box-shadow: 0 8px 18px 9px #b5b5b5;
}

.rcw-widget-container .rcw-launcher,
.rcw-widget-container .rcw-launcher:hover,
.rcw-widget-container .rcw-launcher:focus,
.rcw-widget-container .rcw-conversation-container .rcw-header,
.rcw-message .rcw-client {
  background-color: #007bb1;
}

.rcw-message .rcw-client,
#portal-footer-wrapper .rcw-message .rcw-client p {
  color: #fff;
}

#portal-footer-wrapper .rcw-message-text p {
  border-bottom: none;
  padding-bottom: 0;
  color: #000;
}
